*.swp
brutuspn/*.swp
brutuspn/src/*.swp
Initial_Conditions/*.swp

brutuspn/inputs/*

*.swo
brutuspn/*.swo
brutuspn/src/*.swo
Initial_Conditions/*.swo

brutuspn/*.exe

brutuspn/*.o

outputs/*

*.png

brutuspn/*.par

plotters/LISA_Curves/*
plotters/SGWBProbe/*
